<header>
  <a href="{{ site.baseurl }}/" class="roboism-hover-logo">roboism logo<span></span></a>
  <h1>ROBOISM</h1>
  <p>a podcast about robots and feminism but mostly robots</p>
  <p>short weekly episodes</p>


  <ul class="social-icons">
    <a href="https://itunes.apple.com/us/podcast/roboism/id1008492610"><li class="social-icons" id="itunes-icon">itunes</li></a>
    <a href="https://twitter.com/roboismcast"><li class="social-icons" id="twitter-icon">twitter</li></a>
    <a href="http://feeds.soundcloud.com/users/soundcloud:users:158265267/sounds.rss"><li class="social-icons" id="rss-icon">rss</li></a>
  </ul>
    
</header>