<ul class="social-icons">
  <li class="social-icons"><a href="https://itunes.apple.com/us/podcast/roboism/id1008492610"><i class="icon-apple"></i></a></li>
  <li class="social-icons"><a href="http://feeds.soundcloud.com/users/soundcloud:users:158265267/sounds.rss"><i class="icon-rss"></i></a></li>
  <li class="social-icons"><a href="https://twitter.com/roboismcast"><i class="icon-twitter"></i></a></li>
  <li class="social-icons"><a href="https://www.facebook.com/roboismcast/"><i class="icon-rss"></i></a></li>
  <li class="social-icons"><a href="http://feeds.soundcloud.com/users/soundcloud:users:158265267/sounds.rss"><i class="icon-rss"></i></a></li>
</ul>

<ul class="main-nav">
  <li><h3><a href="{{ site.baseurl }}/about">About</a></h3></li>
</ul>

<div class="hosts">
  <div class="host-description">
    <a href="https://twitter.com/AlexCox" class="action-img"><img src="/img/roboism-alex-avatar.svg" class="host-avatar-svg" id="alex-avatar"></a>
    <p><a href="https://twitter.com/AlexCox">alex cox</a> makes documentaries and has a lot of opinions about robots</p>
  </div>

  <div class="host-description">
    <a href="https://twitter.com/savannahmillion" class="action-img"><img src="/img/roboism-sav-avatar.svg" class="host-avatar-svg" id="savannah-avatar"></a>
    <p><a href="https://twitter.com/savannahmillion">savannah million</a> is a designer / developer and looks forward to the AI apocalypse</p>
  </div>
</div>
