<div class="coops">
  <a href="http://chicagopodcastcoop.com/" class="action-img"><img src="img/logo-cpc.svg"></a>
  <a href="http://www.postloudness.com/" class="action-img"><img src="img/logo-postloudness.svg"></a>
  <p>Roboism is proudly part of the <a href="http://chicagopodcastcoop.com/">Chicago Podcast Cooperative</a> and <a href="http://www.postloudness.com/">postloudness</a>.</p>
</div>

<div class="copyright">
  <small>
    &copy; <span id="currentDate"></span> Roboism<br/>
  </small>
</div>
<script>getDate();</script>
