body {
    background-color: $darkest-grey;
    background-image: url("../img/repeating-robots.png");
    font-family: $base-font-family;
    color: $lightest-grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
.grey-color {color: $light-grey;}
a {
    text-decoration: none;
    color: $blue;
    border-bottom: 2px solid $blue;
    transition: color .25s linear;
    &:hover {
        color: $green;
    }
}

header {
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
    }
    &:after {
        content: "";
        display: block;
        margin: 30px auto;
        width: 125px;
        border: 1px solid $lightest-grey;
    }
}

.grid-container {
    background-color: $dark-grey;
    top: -10px;
}

.roboism-logo {
    border: none;
    svg {
        margin-top: 20px;
        transition: fill 5s ease;
        fill: $lightest-grey;
        &:hover #robot {
            fill: $green;
        }
    }
}

h1 {
    font-family: $header-font-family;
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    a {
        border: none;
        color: #fff;
        &:hover {
            color: $lightest-grey;
        }
    }
}

h2 {
    font-size: 1.5em;
    margin: 0px 0px 20px 0px;
}

h3 {
    font-size: 1.125em;
    margin: 0px 0px 20px 0px;
}

ul.social-icons {
    background-color: $green;
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 30px;
    a {
        color: $light-grey;
        transition: color .25s linear;
        &:hover {
            color: #fff;
        }
    }
    li {
        text-align: center;
        float: left;
        display: inline-block;
        width: 33%;
        &:hover:before {
            transform: scale(1.25);
        }
        &:before {
            font-family: 'icomoon';
            speak: none;
            display: block;
            padding: 10px;
            width: 17px;
            height: 17px;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: $darkest-grey;
            transition: transform .2s cubic-bezier(.05,.59,.64,1.46),;
        }
    }
}

#itunes-icon {
    &:before {
        content: "\eabf";
    }
}

#twitter-icon {
    &:before {
        content: "\ea91";
    }
}

#rss-icon {
    &:before {
        content: "\ea94";
    }
}

footer {
    margin-top: 30px;
}

.host-description {
    width: 100%;
    margin-bottom: 30px;
}

.host-avatar {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: solid 2px transparent;
      -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
      border-image-slice: 1;
    transition: transform .2s cubic-bezier(.05,.59,.64,1.46),;
    &:hover {
        transform: scale(1.10);
    }
}

#alex-avatar { float: left; margin-right: 20px; }
#savannah-avatar { float: right; }

.copyright {
    text-align: center;
    padding-bottom: 40px;
    &:before {
        content: "";
        display: block;
        margin: 30px auto;
        width: 125px;
        border: 1px solid $lightest-grey;
    }
}

.featured-ep {
    margin-top: 20px;
    padding: 20px;
    border: solid 2px transparent;
      -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
      border-image-slice: 1;
    h2 {
        margin-top: 10px;
        }
}

h2 a {
    color: $green;
    border: none;
    &:hover {
        color: $blue;
    }
}

div.audio-embed {
    display: table;
    width: 100%;
    background-color: $darkest-grey;
    border-radius: 5px;
    div {
        small {
            line-height: 2em;
        }
    }
    iframe {
        display: none;
    }
}

.play-pause {
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    width: 45px;
}

.time {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.volume {
    display: table-cell;
    width: 28px;
    vertical-align: middle;
    padding: 5px;
}

.progress-bar-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: $light-grey;
    &:hover {
        cursor: pointer;
    }
}

.progress {
    width: 0%;
    height: 8px;
    background-color: $green;
    position: relative;
}

i.play, i.pause {
    font-size: 2.5em;
    &:hover {
        transition: color .25s linear;
        color: $green;
        cursor: pointer;
    }
}

i.pause {
    position: relative;
    top: 0;
    display: none;
}

i.on, i.mute {
    font-size: 1.25em;
    &:hover {
        transition: color .25s linear;
        cursor: pointer;
        color: $green;
    }
}

i.mute {
    position: relative;
    top: 0;
    display: none;
}

.main-content {
    height: vh;
}

.post {
    height: vh;
    margin-top: 20px;
    h2 {
        margin-top: 10px;
    }
}

span.track-link {
    display: none;
}

.soundcloud-logo {
    color: $darkest-grey;
    border: none;
    font-size: 4em;
    margin-top: 15px;
}

.button {
    display: inline-block;
    padding: 10px;
    margin: 30px auto 30px auto;
    border: solid 2px transparent;
      -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
      border-image-slice: 1;
}

.mobile-width-footer {
    display: none;
}

.post {
    img {
        width: 350px;
        height: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 780px) {
    .mobile-width-footer {
        display: inline;
    }
    .full-width-footer {
        display: none;
    }
}

@media (max-width: 400px) {
    .post {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
