body {
    background-color: $darkest-grey;
    background-image: url("../img/repeating-robots.png");
    font-family: $base-font-family;
    color: $lightest-grey;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: $blue;
    border-bottom: 2px solid $blue;
    transition: color .25s linear;
    &:hover {
        color: $green;
    }
}

header {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    a {
        text-decoration: none;
    }
    &:after {
        content: "";
        display: block;
        margin: 30px auto;
        width: 125px;
        border: 1px solid $lightest-grey;
    }
}

.grid-container {
    background-color: $dark-grey;
    top: -10px;
}

.roboism-logo {
    border: none;
    svg {
        margin-top: 20px;
        transition: fill 1s linear;
        &:hover #robot {
            fill: url(#coolAFgradient);
        }
    }
}

h1 {
    font-family: $header-font-family;
    color: #fff;
    font-size: 2.375em;
    font-weight: 400;
    a {
        &:hover {
            color: $lightest-grey
        }
    }
}

h3 {
    font-size: 1.125em;
    margin: 0px 0px 20px 0px;
}

ul.social-icons {
    background-color: $green;
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 30px;
    a {
        color: $light-grey;
        transition: color .25s linear;
        &:hover {
            color: #fff;
        }
    }
    li {
        text-align: center;
        float: left;
        display: inline-block;
        width: 33%;
        &:hover:before {
            transform: scale(1.25);
        }
        &:before {
            font-family: 'icomoon';
            speak: none;
            //content: "\ea94";
            display: block;
            padding: 10px;
            width: 17px;
            height: 17px;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: $darkest-grey;
            transition: transform .2s cubic-bezier(.05,.59,.64,1.46),;
        }
    }
}

#itunes-icon {
    &:before {
        content: "\eabf";
    }
}

#twitter-icon {
    &:before {
        content: "\ea91";
    }
}

#rss-icon {
    &:before {
        content: "\ea94";
    }
}

footer {
    margin-top: 30px;
}

.host-description {
    width: 100%;
    margin-bottom: 30px;
}

.host-avatar {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: solid 2px transparent;
      -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
      border-image-slice: 1;
    transition: transform .2s cubic-bezier(.05,.59,.64,1.46),;
    &:hover {
        transform: scale(1.10);
    }
}

#alex-avatar { float: left; margin-right: 20px; }
#savannah-avatar { float: right; }

.copyright {
    text-align: center;
    padding-bottom: 40px;
    &:before {
        content: "";
        display: block;
        margin: 30px auto;
        width: 125px;
        border: 1px solid $lightest-grey;
    }
}

.featured-ep {
    margin-top: 20px;
    padding: 20px;
    border: solid 2px transparent;
      -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
      border-image-slice: 1;
    h3 {
        margin-top: 10px;
        a {
            color: $green;
            border: none;
            &:hover {
                color: $blue;
            }
        }
    }
}

.audio-embed {
    width: 100%;
    height: 60px;
    background-color: $darkest-grey;
    border-radius: 5px;
    i {
        font-size: 2.5em;
    }
}



