// footer {
//   margin-top: 30px;
// }

// .host-description {
//   text-align: center;
//   margin-bottom: $base-spacing;
// }
//
// .host-avatar-svg {
//   width: 60px;
//   height: 60px;
//   margin-bottom: $small-spacing;
//   transition: transform .2s cubic-bezier(.05,.59,.64,1.46);
//
//   &:hover {
//     transform: scale(1.10);
//   }
// }

//#alex-avatar, #savannah-avatar { float: left; margin-right: 20px; }

.copyright {
  text-align: center;
  padding-bottom: 40px;
  &:before {
    content: "";
    display: block;
    margin: 30px auto;
    width: 125px;
    border: 1px solid $lightest-grey;
  }
}

.soundcloud-logo {
  color: $darkest-grey;
  border: none;
  font-size: 4em;
  margin-top: 15px;
}
