//
// Header
//
header {
  background-color: $dark-grey;
  text-align: center;
  margin-bottom: $base-spacing;
  padding: $small-spacing 0px;
  border-bottom: 7px solid $darkest-grey;

  h1 {
    margin: $small-spacing 0;
    display: inline-block;
    position: relative;
    bottom: 6px;

    a {
      font-weight: $heavy-font-weight;
      color: white;
      border-bottom-width: 0px;
      font-size: 50px;
    }
  }
}

.roboism-hover-logo {
  display: inline-block;
  height: 60px;
  width: 80px;
  border-bottom: 0px;
  background: url("../img/robot-base.svg") no-repeat;
  transition: transform 0.3s ease-in-out;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   top: 0; left: 0; bottom: 0; right: 0;
  //   background: url("../img/robot-hover.svg") no-repeat;
  //   background-position: center center /*-50px 0*/;
  //   opacity: 0;
  //   -webkit-transition: opacity 0.3s;
  //   -moz-transition:    opacity 0.3s;
  //   -o-transition:      opacity 0.3s;
  // }
  //
  // &:hover:after {
  //   opacity: 1;
  // }
  //
  // &:hover {
  //   transform: scale(1.05);
  // }
}

//
// Left Aside
//
.left-aside {

  .social-icons {
    list-style-type: none;
    text-align: center;
    margin-bottom: $base-spacing;

    li {
      display: inline-block;
      font-size: 0.75em;

      a {
        display: block;
        height: 35px;
        width: 35px;
        color: $lightest-grey;
        transition: color .25s linear;
        border-bottom-width: 0px;
        padding-top: 10px;
        border-radius: 50%;
        background-color: $darkest-grey;

        &:hover {
          color: #fff;
        }

        @include media($large-breakpoint) { margin: 0 $small-spacing; }
      }
    }
  }

  .main-nav {
    list-style-type: none;
    padding: $small-spacing;
    border: solid 2px $light-grey;
    margin-bottom: $base-spacing;

    h3 {
      margin-bottom: 0px;
    }

    a {
      border-bottom-width: 0px;
      color: $green;
      &:hover {
        color: $blue;
      }
    }
  }

  .hosts {
    padding: $small-spacing;
    border: solid 2px $light-grey;
    margin-bottom: $base-spacing;

    @include media($medium-breakpoint) {
      @include span-columns(12);
    }
  }

  .host-description {
    text-align: center;
    margin-bottom: $base-spacing;

    @include media($medium-breakpoint) {
      @include span-columns(6);
    }
  }

  .host-avatar-svg {
    width: 60px;
    height: 60px;
    margin-bottom: $small-spacing;
    transition: transform .2s cubic-bezier(.05,.59,.64,1.46);

    &:hover {
      transform: scale(1.10);
    }
  }

  p {
    @include media($medium-breakpoint) {
      padding: 0 $base-spacing;
    }
  }
}

//
// Right Aside
//
.cpc {
  text-align: center;
  border: solid 2px $light-grey;
  padding: $small-spacing;
  margin-bottom: $base-spacing;

  img {
    width: 100%;
    height: auto;
  }

  @include media($large-breakpoint) {
    @include span-columns(6);
    @include shift(3);
    border-width: 0px;
  }

  @include media($small-breakpoint) {
    @include span-columns(12);
    @include shift(0);
  }
}

.copyright {
  text-align: center;
  padding-bottom: $large-spacing;

  @include media($large-breakpoint) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($small-breakpoint) {
    @include span-columns(12);
    @include shift(0);
  }
}

.soundcloud-logo {
  color: $darkest-grey;
  border: none;
  font-size: 4em;
  margin-top: 15px;
}
