//
// RESET GARBAGE
//
// h1,h2,p {margin: 0px;}

//
// TYPOGRAPHY
//
body {
  font-family: $base-font-family;
  color: $lightest-grey;
  font-size: 1em;
  line-height: 1.15em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font-family;
  font-weight: $base-font-weight;
  margin-bottom: $base-spacing;
  color: $green;
}

h1 { font-size: 2.25em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.875em; }
h6 {
  font-size: 0.775em;
  text-transform: uppercase;
}

p {
  font-size: 0.875em;
  margin-bottom: $base-spacing;
}

small {
  font-size: 0.775em;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid $blue;
  transition: color .25s linear;
  &:hover, &:active, &:focus {
    color: $green;
    border-bottom-color: $green;
  }
}

//
// Article Specific Styles
//
article {

  .date {
    margin-bottom: $base-spacing;
  }

  .article-title {
    margin-bottom: $base-spacing;
  }

  .audio-embed {
    margin-bottom: $base-spacing;
  }

  ul {
    margin-bottom: $base-spacing;
    li {
      &:before {
        content: "\2022";
        margin-right: $small-spacing;
        color: $blue;
      }
    }
  }

  ol {
    margin-bottom: $base-spacing;
    counter-reset: li;

    li {
      counter-increment: li;
      &:before {
        content: counter(li) '. ';
        color: $blue;
      }
    }
  }

  blockquote {
    font-size: 0.875rem;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
    //color: $light-grey;
    border-left: 3px solid $light-grey;
  }

  hr {
    margin: $large-spacing 0;
    border: 1px solid $light-grey;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: $base-spacing 0 $large-spacing;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//
// Feed List Specific Styles
//
.featured-ep {
  padding: $base-spacing;
  border: solid 2px transparent;
    -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
    border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
    border-image-slice: 1;

  h2 {
    margin-top: $small-spacing;
  }

  .audio-embed {
    margin-bottom: $base-spacing;
  }

  &:before {
    content: 'LATEST';
    position: relative;
    top: -$base-spacing;
    left: -$base-spacing;
    height: 20px;
    padding: 1px 8px;
    background-color: $blue;
    color: white;
  }
}

.all-eps {
  margin-top: 20px;
  padding: $base-spacing;
  border: solid 2px $light-grey;
  h2 {
    margin-top: $small-spacing;
  }
}

//
// LAYOUT
//
body {
  background-color: $darkest-grey;
  background-image: url("../img/repeating-robots.png");
  background-attachment: fixed;
  margin: 0;
}

.all-site-content {
  @include outer-container();

  background-color: $dark-grey;
  padding: $base-spacing 0 $large-spacing;
}

.page-content {
  @include span-columns(6);
}

.search {
  @include span-columns(3);
}

span.track-link { display: none; }

//
// INCLUDES
//
.header-footer {
  @include span-columns(3);

  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

footer {
  @include fill-parent();
}

//
// Buttons
//
.button {
  display: inline-block;
  padding: 10px;
  margin: 30px auto 30px auto;
  border: solid 2px transparent;
    -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
    border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
    border-image-slice: 1;
}

//
// TAGS
//
.post-tag-list {
  padding-left: 0px;
  margin-bottom: 0px;

  li {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.75em;

    a {
      color: $lightest-grey;
      background-color: $darkest-grey;
      border-bottom: 0px;
      text-transform: uppercase;
      padding: $small-spacing/2 $small-spacing;

      &:hover, &:active, &:focus {
        color: $green;
      }
    }
  }
}

//
// Header2
//
.header2 {
  width: 100%;
  background-color: $dark-grey;
  text-align: center;
  margin-bottom: 0px;

  .roboism-hover-logo {
    width: 180px;
    height: auto;
    display: inline-block;
  }

  h1 {
    display: inline-block;
    weight: $heavy-font-weight;
    color: white;
  }
}
