//
// Article Specific Styles
//
article {

  .date {
    margin-bottom: $base-spacing;
  }

  .article-title {
    margin-bottom: $base-spacing;
  }

  .audio-embed {
    margin-bottom: $base-spacing;
  }

  ul {
    font-size: 0.875em;
    margin-bottom: $base-spacing;
    line-height: $large-spacing;
    li {
      &:before {
        content: "\2022";
        margin-right: $small-spacing;
        color: $blue;
      }
    }
  }

  ol {
    font-size: 0.875em;
    margin-bottom: $base-spacing;
    line-height: $large-spacing;
    counter-reset: li;

    li {
      counter-increment: li;
      &:before {
        content: counter(li) '. ';
        color: $blue;
      }
    }
  }

  blockquote {
    font-size: 0.875rem;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
    border-left: 3px solid $light-grey;
  }

  hr {
    margin: $large-spacing 0;
    border: 1px solid $light-grey;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: $base-spacing 0px;
  }

  .img-src {
    display: inline-block;
    margin-top: $base-spacing;
    padding-top: $base-spacing;
    border-top: 1px solid $light-grey;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//
// Feed List Specific Styles
//
.featured-ep {
  padding: $base-spacing;
  border: solid 2px transparent;
    -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $green 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $green 100%);
    border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
    border-image-slice: 1;

  small {
    display: block;
    width: 100%;
  }

  h2 {
    margin-top: $small-spacing;
  }

  .audio-embed {
    margin-bottom: $base-spacing;
  }

  &:before {
    content: 'LATEST';
    position: relative;
    top: -$base-spacing;
    left: -$base-spacing;
    height: 20px;
    padding: 1px 8px;
    background-color: $blue;
    color: white;
  }
}

.all-eps {
  margin-top: 20px;
  padding: $base-spacing;
  border: solid 2px $light-grey;
  h2 {
    margin-top: $small-spacing;
  }
}
