<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="banner">
      Roboism has joined forces with other great tech podcasts at <a href="https://www.relay.fm/roboism">Relay.fm</a>! You're looking at the archive.
    </div>

    {% include header.html %}

    <div class="all-site-content">

      <aside class="left-aside">
        {% include left-aside.html %}
      </aside>

      <div class="page-content">
        {{ content }}
      </div>

      <aside class="right-aside">
        {% include right-aside.html %}
      </aside>

    </div>

  </body>
</html>
