<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="grid-container">
    
      <div class="grid-40">
        {% include header.html %}
        <div class="full-width-footer">
          {% include footer.html %}
        </div>
      </div>

      <div class="grid-60">
        <div class="main-content">
          {{ content }}
        </div>
      </div>

      <div class="grid- 40 mobile-width-footer">
        {% include footer.html %}
      </div>

    </div>

  </body>

</html>
