---
layout: default
---
<div class="post">
	<small>ep {{ page.number }} <span class="grey-color">&#10209;</span> {{ page.date | date: "%m.%-d.%Y" }}</small>
      <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>

            <div class="audio-embed">
		        <div class="play-pause">
		          <i class="icon-play play"></i>
		          <i class="icon-pause pause"></i>
		        </div>
		        <div><small id="left-time">00:00</small></div>
		        <div class="progress-bar">
		          <div class="progress"></div>
		        </div>
		        <div><small id="right-time">-00:00</small></div>
		        <div class="volume">
		          <i class="icon-volume-on on"></i>
		          <i class="icon-volume-mute mute"></i>
		        </div>

		        <iframe class="widget" style="visibility: hidden;" src="https://w.soundcloud.com/player/?url=//soundcloud.com{{ page.soundcloud-link }}"></iframe>
		      </div>

  <article class="post-content">
    {{ content }}
  </article>

  <a href="{{ site.baseurl }}/" class="button">&larr; back to episode list</a>

</div>
